/*@media all and (min-width:992px) {*/
* {
    box-sizing: border-box;
}

.custom-bg {
    background-image: url("../images/5.jpg");
    background-size: cover;
    background-position: center;
    padding: 0;
    height: 750px;
    box-sizing: border-box;
}

.nav-link {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-style: inherit;
    font-family: "Vazirmatn", sans-serif;
    text-align: center;
    margin-top: 40px;
    padding: 0px;
    border: 0px;

}

/*  .overlay {
        height: 750px;
        backdrop-filter: blur(3px) brightness(80%);
        margin-top: 0px;
       
    }*/

.site-title {
    color: rgb(255, 255, 255);
    font-family: "Noto Nastaliq Urdu", serif;
    /*font-family: "Vazirmatn", sans-serif;*/
    font-size: 64px;
    text-align: end;
    margin: 0px 20px;
    padding: 0px;
    font-style: normal;
    font-weight: 500px;
    box-sizing: border-box;

}

pre {
    font-size: calc(1vw + 8PX);
    font-weight: 100px;
    font-family: "Noto Nastaliq Urdu", serif;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 100px;
    line-height: 60px;

}

.img1 {
    height: 69px;
    padding: 0;
    text-align: center;
    margin-right: 40px;
}

.text1 {
    font-size: calc(1vw + 9px);
    font-family: "Vazirmatn", sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 104px 0px 0px 0px;
    box-sizing: border-box;
}

.images {
    height: 200px;
    margin-bottom: 104px;
}

.text2 {
    font-size: calc(1vw + 12px);
    font-family: "Vazirmatn", sans-serif;
    color: rgb(0, 0, 0);
    text-align: start;
    font-weight: bold;
    margin-top: 100px;
    padding: 0px;
    box-sizing: border-box;

}

.text3 {

    font-size: calc(1vw + 10px);
    font-family: "Vazirmatn", sans-serif;
    color: rgb(0, 0, 0);
    margin-top: 120px;
    margin-bottom: 32px;
    box-sizing: border-box;
}

.text4 {

    font-size: calc(1vw + 10px);
    font-family: "Vazirmatn", sans-serif;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: bold;
    box-sizing: border-box;
    padding-bottom: 64px;
}

.btn {
    align-items: normal;
    position: static;
    z-index: auto;
    box-sizing: border-box;
}


.custom-bg2 {
    width: 100%;
    background-color: #f1ebe9;
    background-size: cover;
    background-position: center;
    height: 750px;
    box-sizing: border-box;
}

.text5 {
    font-size: calc(1vw + 12px);
    font-family: "Vazirmatn", sans-serif;
    color: rgb(0, 0, 0);
    text-align: start;
    font-weight: bold;
    margin-top: 100px;
    padding-right: 140px;
    box-sizing: border-box;

}

.label1 {
    font-size: 24px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.email {
    width: 335px;
    font-size: 24px;
}

.submit {
    width: 167px;
    font-size: 24px;
    color: rgb(255, 255, 255);
    background-color: black;
}

/*}

@media all and (max-width:991px){
    .custom-bg {
        background-image: url("../images/4.jpg");
        background-size: cover;
        background-position: center;
        padding-left: 0;
        padding-right: 0;
        height: 900px;
    }
    p {
        font-size: calc(0.75vw + 12px);
        font-family: "Noto Nastaliq Urdu", serif;
        color: #dcdcdc;
        line-height: 18px;
        text-align: center;
        margin: auto;
    }
   


}*/