* {
    box-sizing: border-box;
}

.custom-bg {
    background-image: url("../images/img2.jpg");
    background-size: cover;
    padding: 0;
    height: 750px;
}

pre {
    font-size: calc(1vw + 8PX);
    font-weight: 100px;
    font-family: "Noto Nastaliq Urdu", serif;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 100px;
    line-height: 60px;

}

.text1 {
    font-size: calc(1vw + 9px);
    font-family: "Vazirmatn", sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 104px 0px 0px 0px;
}

.text4 {

    font-size: calc(1vw + 10px);
    font-family: "Vazirmatn", sans-serif;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: bold;
    padding-bottom: 64px;
}

.custom-bg2 {
    background-color: #f1ebe9;
    background-size: cover;
    background-position: center;
    height: 500px;
}

.custom-bg3 {
    background-color: #f1ebe9;
    background-size: cover;
    background-position: center;
    height: 300px;
}

.custom-bg4 {
    background-color: #cdcdcd;
    background-size: cover;
    background-position: center;
    height: 600px;
}

.custom-bg5 {
    background-color: #f1ebe9;
    background-size: cover;
    height: 100px;
}

.custom-bg6 {
    background-color: #f1ebe9;
    background-size: cover;
    height: 500px;
}

.custom-position {
    right: 1opx;
    top: 10px;
}

@media all and (min-width:992px) {

    .nav-link {
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-style: inherit;
        font-family: "Vazirmatn", sans-serif;
        text-align: center;
        margin-top: 40px;
        padding: 0px;
        border: 0px;

    }

    .site-title {
        color: rgb(0, 0, 0);
        font-family: "Noto Nastaliq Urdu", serif;
        font-size: 64px;
        text-align: end;
        margin: 0px 20px;
        padding: 0px;
        font-style: normal;
        font-weight: 500px;
    }

    .img1 {
        height: 69px;
        padding: 0;
        text-align: center;
    }

    .images {
        height: 200px;
        margin-bottom: 104px;
    }

    .label1 {
        font-size: 24px;
        font-weight: bold;
        color: rgb(0, 0, 0);
        margin-top: 150px;
    }

    .email {
        width: 335px;
        font-size: 24px;
    }

    .submit {
        width: 167px;
        font-size: 24px;
        color: rgb(255, 255, 255);
        background-color: black;
    }

    .titr {
        margin-top: 200px;
        font-size: 48px;
        font-weight: bolder;
        color: rgb(250, 250, 250);
        align-items: center;
    }

    .lead {
        margin-top: 150px;
        font-size: 24px;
        color: rgb(250, 250, 250);
        align-items: center;
    }

    .text6 {
        margin-top: 30px;
        color: rgb(250, 250, 250);

    }

    .text7 {
        font-size: 24px;
        color: rgb(0, 0, 0);
        align-items: start;
    }
}

@media all and (max-width:991px) {

    .nav-link {
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-style: inherit;
        font-family: "Vazirmatn", sans-serif;
        text-align: start;
        padding: 0px;
    }
}